body
{
    background-color: rgb(0, 0, 0);
    color: rgb(144, 223, 255);
 text-align: center;
font-family: cursive;
font-size: 42px;
margin: 0%;
padding: 0%;

}

#cabecera
{
    
    

    box box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;


}
#cabecera #tegline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}
#container
{
    background: url("https://content.halocdn.com/media/Default/games/halo-4/media/h4_002-f3df874bc11f452d91133674a13f033c.jpg") 0px 0px;
width: 70%;
padding: 1em;
text-align: center;
border: 5px solid #23617e;
margin: auto;

}
#container h1
{
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 40px;
=======
    font-size: 20px;
    
>>>>>>> header
=======
    font-size: 40px;
>>>>>>> header
}
#post
{
    padding: 1em;
}