#footer1{
    width:1fr;
    height: 200px;
    background-color: rgb(25, 26, 26);
    box-shadow: 1px 0px 1px 1px rgb(0, 255, 191) ;
    display: grid;
    justify-items: center ;
    align-items: center;
    grid-template: 100px 100px / 1fr 1.2fr 2fr 2fr;
    grid-template-areas: 
    "logoD contactoP cc dd"
    "logoD contactoP ff .";
    /* overflow: hidden; */
}
#logoD{
    grid-area: logoD;
    width: 100%;
    height: 100%;
    /* background-color: rgb(25, 26, 26); */
    display: grid;
    justify-items: center ;
    align-items: center;
    margin: 0px 10px 0px 20px;
}
#logoD2 {
    width: 4.5em;
    height: 5em;
    border-radius: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    font-weight: bold;
    outline: none;
    border: 0px;
    background-color: rgb(33, 34, 34);
    box-shadow: 2px -1px 1px 1px rgb(0, 255, 191) ;
    transition-duration: 500ms;
    perspective-origin: 2000px;
}
#logoD2:hover{
    box-shadow: 2px 2px 2px 1px rgb(0, 238, 255) ;
    transform: rotateX(40deg) skew(-9deg) rotateZ(1deg) scaleY(1.2);
    perspective-origin: 2000px;

}

#contactoP{ 
    grid-area: contactoP;
    width: 200px;
    height: 150px;
    /* margin-left:50px; */
    margin-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.795); */
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 5px;
    color: rgb(32, 32, 32);
    text-shadow: 1px 1px px black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px 0px 5px 0px;
    font-size: 100%;
    transition: 700ms;
    box-shadow: 2px 2px 3px 1px rgb(0, 255, 191) ;
    display: grid;
    align-items: initial;
    grid-template: repeat(3, 50px) / 1fr ;
    grid-template-areas: 
    "contactoSS"
    "contactoo"
    "contactoo";
    /* box-shadow: 1px 1px 5px 3px  rgba(50, 196, 171, 0.925); */
}
#contactoP:hover{
    box-shadow: 1px 1px 5px 5px  rgba(50, 196, 171, 0.925);
}
.contactoSS{
    width: 200px;
    /* padding-right: 10px; */
    /* margin-right: 90px; */
    grid-area: contactoSS;
    box-shadow:px 0px 1px 1px black;
    padding-left: 15px;
}
.contacto{
    color: #3498db;
    outline: none;
    text-decoration: none;
    position: relative;
    text-align: start;
    transition-duration: 700ms;
}
.contacto:hover{
    color:#ce590b ;
}

.contactoo{
    grid-area: contactoo;
    width: 4.5em;
    padding-left: 60px;
    /* transform: rotateX(500deg); */
}