

#carruselmaquinasA{
    overflow: hidden;
    display: grid;
    grid-template: auto auto / 1fr;
    grid-template-areas: 
    "modalNewElement"
    "carruselMaquinasFire";
    outline: none;
    margin: 20px;
    box-sizing: border-box ;
    width: auto;
    height: auto;
    gap: 10px;
}

#modalNewElement{
    grid-area: modalNewElement;
    width: 0vw;
    height: 0vh;
    // overflow-y: scroll;
    visibility: hidden;
    // position: absolute;
    display: grid;
    grid-template: auto /auto;
    grid-template-areas: 
    "pantallaAddElement";
    gap: 4px;
    place-items: center;
    place-content: center;
    background-color: none;
    transition-duration: .5s;
    z-index: 2;
    transform: translateY(-1000px);
    margin: 10px 0px 10px 0px;
}

#HeaderNewElement{
    grid-area: pantallaAddElement;
}

#pantallaPosteriorElement{
    grid-area: pantallaAddElement;
    width: 100vw;
    height: 120vh;
    background-color: none;
}

#carruselMaquinasFire{
    grid-area: carruselMaquinasFire;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    outline: none;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box ;
    width: auto;
    height: auto;
    gap: 10px;
}

#NuevoelementFire{
    position: fixed;
    // background-color: rgba(31, 82, 88, 0.562);
    background: linear-gradient(70deg, rgba(1, 56, 73, 0.562), rgba(0, 88, 59, 0.562));
    width: 90px;
    height: 50px;
    right: 5px;
    outline: none;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
    border: none;
    // box-shadow: 1px -1px 4px rgb(6, 195, 253);
    border-top: 2px solid rgb(19, 208, 255);
    border-right: 2px solid rgb(19, 208, 255) ;
    border-bottom: 2px solid rgb(6, 253, 171);
    border-left: 2px solid rgb(6, 253, 171) ;
    z-index: 300;
    transition-duration: .5s;
}
#NuevoelementFire:hover{
    transform: scale(1.05);
    transition-duration: .5s;
    background-color: rgba(255, 255, 255, 0.082);
}