#carruselmaquinas{
    // grid-area: carruselmaquinas;
    white-space: nowrap ;
    display: inline-block;
    /* margin-left: 10px; */
    outline: none;
    grid-auto-flow: column dense;
    justify-content: center;
    /* scroll-behavior: smooth ; */
    /* overflow: auto; */
    overflow-x: scroll;
    // scrollbar-color: red black ;
    margin: auto 20px auto 20px;
    overflow: hidden;
    
}

.carruselmaquinas::-webkit-scrollbar{
    background-color: rgba(252, 252, 252, 0.253);
    border-radius: 10px;
    height: 30px;
    width: 5px;
    
}
.carruselmaquinas::-webkit-scrollbar-thumb {
    background-color: rgba(15, 15, 15, 0.726);
    border-radius: 10px;
    height: 10px;
    
    
}

.carruselmaquinas_item{
    border-radius: 20px;
    /* overflow: hidden; */
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    outline: none;
    width: 200px;
    height: 250px;
    margin: 15px 0px 20px 0px

}
.carruselmaquinas_item:hover ~ .carruselmaquinas_item  {
    transform: translate3d(20px, 0, 0);
    
    }
    .carruselmaquinas:hover .carruselmaquinas_item {
    
        opacity: 0.7;
    
    }
    .carruselmaquinas:hover .carruselmaquinas_item:hover {
    transform: scale(1.1);
    opacity: 1;
    
    }
.carruselmaquinas_boton{
    background: none;
    background-size: cover ;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    outline: none;
    display: grid;
    grid-template: auto;
    align-items: end ;
    justify-items: center;
    text-decoration: none;
    
}
.maquinas_boton_font{
    background-color: rgba(224, 224, 224, 0.562);
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    width: 70%;
    color: rgb(5, 5, 5);
    font-size: 20px;
}
.carrusel_soldadora{
    background-image: url("https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
   
}
.carrusel_cortadora{
    background-image: url("https://images.pexels.com/photos/50691/drill-milling-milling-machine-drilling-50691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
}

::-webkit-scrollbar {
    display: none;
  }