#carruselmaquinas{
    
    display: flex;
    flex-wrap: wrap;
    outline: none;
    margin: 35px;
    // overflow: hidden;
    box-sizing: border-box ;
    // overflow: scroll;
    width: auto;
    height: auto;
    gap: 10px;
}

.carruselmaquinas_item{
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    // position: relative;
    display: grid;
    place-content: center;
    outline: none;
    width: 200px;
    height: 250px;
    border-radius: 10%;
    padding: 10px;
    // box-shadow: 0px 0px 5px rgb(207, 205, 205);

}

.carruselmaquinas_item:hover .carruselmaquinas_item{
    transform: translate3d(20px, 10px, 0);
    margin: 0px;
    padding: 0%;
    }
#carruselmaquinas:hover .carruselmaquinas_item {
        opacity: 0.3;
        z-index: 1;
    }
#carruselmaquinas:hover .carruselmaquinas_item:hover {
    transform: scale(1.15);
    opacity: 100;
    z-index: 5;
    box-shadow: 0px 0px 5px rgb(12, 240, 183);
    }
.carruselmaquinas_boton{
    background: none;
    background-size: cover ;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 10%;
    outline: none;
    display: grid;
    grid-template: auto;
    align-items: end ;
    justify-items: center;
    text-decoration: none;
    
}
.maquinas_boton_font{
    background-color: rgba(224, 224, 224, 0.562);
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    width: 70%;
    color: rgb(5, 5, 5);
    font-size: 20px;
}
.carrusel_soldadora{
    background-image: url("https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
   
}
.carrusel_cortadora{
    background-color: rgb(43, 42, 42);
    background-image: url("https://images.pexels.com/photos/50691/drill-milling-milling-machine-drilling-50691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
}

// ::-webkit-scrollbar {
//     display: none;
//   }