@import '../Vars.scss';

.userImg{
    width: 104px;
    height: 104px;
    background: linear-gradient(70deg, rgba(1, 56, 73, 0.562), rgba(0, 88, 59, 0.562));
    border-radius: 15px;
    border: 2px solid $master-color-BB;
    margin: 10px;
    display: grid;
    place-content: center;
    align-self: center ;
    
}
.userImgA{
    background-size: cover ;
    object-fit: cover;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    margin: 15px;
    align-self: center ;

}
.userInfo{
    grid-area: userInfo;
    align-self: center ;
    background-color: rgba(19, 18, 18, 0.911);
    color: rgb(255, 255, 255);
    font-size: 130% ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* margin-left: 3%; */
    border-radius: 7px;
    text-align: left;
    padding-left: 5%;
    
}
