@import './Vars.scss';
@import './Media.scss';

body {
    margin: 0;
    font-family: $theme-font;
    background: none;
    
  }
  
  * {
    box-sizing: border-box;
  }

  // ::-webkit-scrollbar {
  //   display: none;
  // }
  ::-webkit-scrollbar{
    background-color: rgb(5, 5, 5);
    // border-radius: 50%;
    height: 10px;
    width: 10px;
    
}
::-webkit-scrollbar-thumb {
    background-color: rgb(199, 125, 40);
    border-radius: 10px;
    height: 10px;
    
}