
body{
    background:#eeedeebd;
    overflow: hidden;
    word-break: break-word;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
}


.video_background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    overflow: hidden;
    }
#imagenfondo {
    /* opacity: 30%; */
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* margin-top: 8vw; */
    /* margin-left: 15vh; */
    background-image: url(/media/rediii.png);
    transform: scale(.001);
    /* border-radius: 20px; */
}    

#forma{
    opacity: none;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: space-evenly;
    grid-template: .5fr 1fr 1fr 1fr / auto;
    transition: 1500ms;
    grid-template-areas: 
    "."
    "enc"
    "box1"
    "paginabraco";

}
.enc{
    grid-area: enc;
    background-color: rgba(6, 255, 139, 0.473);
    width: 73%;
    height: 50%;
    justify-self: center;
    text-align: center;
    color: rgb(227, 227, 228);
    border-radius: 5px;
    margin-top: 8%;
}

.box1{
    grid-area: box1;
    justify-self: center;
    color: rgb(245, 241, 241);
    background-color: rgba(44, 44, 44, 0.89);
    border-radius: 10px;
    width: 66%;
    height:1fr;
    display: grid;
    grid-template: 1fr;
    place-items: center;
    place-content: center;
    margin-top: -6%;
    display: grid;
    grid-template: 1fr / 1fr ;
    grid-template-areas: 
    "box1a";
}
#box1a {
    grid-area: box1a;
    /* justify-self: center; */
    color: rgb(245, 241, 241);
    background-color: rgba(19, 19, 19, 0.678);
    border-radius: 10px;
    width: 95%;
    height: 95%;
}
.boton1{
background: chartreuse;
}
#paginabraco{
    background-color: rgb(172, 170, 170);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transition:  700ms;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    outline: none;
    text-overflow: clip; 
    white-space: initial;
    overflow: hidden;
    text-decoration: none;
    border: none;
    margin-top: 25px;
}
#paginabraco:hover{
    color: rgb(41, 41, 41);
    background-color: rgb(8, 218, 255);
    transform: scale(1.7);
    border-radius:50%;
    
}
