@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font:'Muli', sans-serif;
$main-color: #521c1c;

$master-color-A: rgb(19, 208, 255);
$master-color-AB: rgb(0, 238, 255);

$master-color-B: rgb(6, 253, 171);
$master-color-BB: rgb(0, 255, 191) ;

$border-Color-A: rgb(19, 208, 255);
$border-Color-B: rgb(6, 253, 171);

$linear-Gradient-A: linear-gradient(70deg, rgba(1, 56, 73, 0.562), rgba(0, 88, 59, 0.562));

